@model wajeb004.Models.Answer

@{
    ViewBag.Title = "Edit";

}

<h2>Question # @Model.questionSequence out of @Model.answersSnapshot.answers.Count()</h2>
<br />
<h3>@Model.question.QuestionText</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <br />
        <h4>Answer</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.questionSequence)
        @Html.HiddenFor(model => model.isLastQuestion)

        @{
            if (Model.question.QuestionType == "TF")
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.TrueOrFalseAnswer, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.RadioButtonFor(model => model.TrueOrFalseAnswer, "true", new { id = "true" }) True
                            <br />
                            @Html.RadioButtonFor(model => model.TrueOrFalseAnswer, "false", new { id = "false" }) False

                            @Html.ValidationMessageFor(model => model.TrueOrFalseAnswer, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            }
            if (Model.question.QuestionType == "MCQ")
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.MCQAnswer, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.RadioButtonFor(model => model.MCQAnswer, "opt1")
                        @Html.DisplayFor(model => model.question.opt1)
                        <br />
                        @Html.RadioButtonFor(model => model.MCQAnswer, "opt2")
                        @Html.DisplayFor(model => model.question.opt2)
                        <br />
                        @Html.RadioButtonFor(model => model.MCQAnswer, "opt3")
                        @Html.DisplayFor(model => model.question.opt3)
                        <br />
                        @Html.RadioButtonFor(model => model.MCQAnswer, "opt4")
                        @Html.DisplayFor(model => model.question.opt4)

                        @Html.ValidationMessageFor(model => model.MCQAnswer, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
            if (Model.question.QuestionType == "OpenAnswer")
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.OpenQuestionAnswer, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.OpenQuestionAnswer, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.OpenQuestionAnswer, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="End Quizz" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
